.navbar {
  background-color: #34402F;
  height: 90px;
}

.nav-item .nav-link {
  font-weight: 500;
  color: #B6D9BF;
  text-shadow: #00E09D 1px 0 15px;
}

.checkout {
  text-shadow: 1px 1px 28px rgba(82, 183, 84, 0.8);
  color: #fdf2f2;
  font-size: 65px;
  font-weight: 700;
}

.above-input {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
  color: #ffffff;
  text-shadow: 1px -1px 20px #76b282;
}
